include README.txt
include NEWS.txt
include doc/*.html
include doc/*.js
include doc/_static/*.css
include doc/_static/*.js
include doc/_static/*.png
include doc/source/*.rst
include doc/source/conf.py
